*{
    padding: 0;
    margin: 0;
    
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffff;
    
}
.content{
    padding: 4rem;
}

section{
    border: 2px solid white;
    margin: 20px 0;
    padding: 2rem;
}
.scroll-indecator{
    height: 5px;
    width: calc(100% - 6em);
    top: 10px;
    position: fixed;
    left: 3em;
    border-radius: 3px;
}
 .progress{
    height: 100%;
    width: 0;
    border-radius:4px;
    background: linear-gradient(30deg, #21d4fd,#b721ff);
    transition: width 0.1s;
}